<!doctype html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <!-- endbuild -->
    <script src="components/angular.min.js"></script>
    <script src="scripts/popup.js"></script>
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>

<body ng-controller='Main'>
    <p>Welcome <b>{{ user }}</b>!</p>
    <form class="form-inline">
        <div class="form-group">
            <input class="form-control" name="username" id="hnUsername" ng-model="username" placeholder="Enter Hacker News Username">
            <input class="btn btn-default" type="submit" value="submit" ng-click="addOrRemoveToFollowing(username)">
        </div>
    </form>
    <div class="panel panel-default">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Following</a>
            </li>
            <li role="presentation"><a href="#">Followers</a>
            </li>
            <li role="presentation"><a href="#">Settings</a>
            </li>
        </ul>
        <div class="panel-body">
            <div ng-repeat="person in following | orderBy: person">
                <div class="checkbox">
                    <label>
                        <input class="checkboxes" type="checkbox" checked ng-click="addOrRemoveToFollowing(person)"> {{ person }}
                    </label>
                </div>
<!--                 <div ng-hide="checked" class="btn-group">
                    <button type="button" class="btn btn-danger" >Unfollow</button>
                </div> -->
            </div>
        </div>
    </div>
    </div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <!-- endbuild -->
</body>

</html>
