body {
  margin-top: 20px;
  min-height: 500px;
  min-width: 350px;
  padding: 20px;
  font-family: Verdana, Geneva, sans-serif;
  overflow: auto
  ;
}

h1 {
  text-align: center;
}

.sidebar-container {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    background: #ffffff;
    border: solid 1px gray;
}
