/*body {*/
  /*margin-top: 20px;*/
  /*min-height: 500px;*/
  /*min-width: 350px;*/
  /*padding: 20px;*/
  /*font-family: Verdana, Geneva, sans-serif;*/
  /*overflow: auto*/
  /*;*/
/*}*/

html, body, #sidebar-anchor {
    height: 100%;
}


h1 {
  text-align: center;
}

.sidebarbox {
    position: fixed;
    top: 0px;
    right: -476px;
    width: 500px;
    height: 100%;
    /* This is the line that causes the primary sidebar animation */
    transition: right 0.5s ease-out;
}

.sidebarbutton {
    z-index: 2;
    display: inline;
    position: relative;
    width: 30px;
    top: 100px;
}

#sidebarcontentarea {
    position: absolute;
    top: 0px;
    z-index: 1;
    display: inline;
    width: 470px !important;
    height: 100% !important;
    background: #ffffff;
    box-shadow: -2px 0px 3px #C0C0C0;
    /* Get rid of the shadow when the sidebar is collapsed */
    transition: box-shadow 0.5s ease-out;
}

#sidebutton:hover {
    cursor: pointer;
}
