
  @import '../bower_components/materialize/sass/materialize.scss';

html, body, #sidebar-anchor {
  height: 100%;
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

.sidebarbox {
  position: fixed;
  top: 0px;
  right: -476px;
  width: 500px;
  height: 100%;
  /* This is the line that causes the primary sidebar animation */
  transition: right 0.5s ease-out;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.sidebarbutton {
  z-index: 1;
  display: inline;
  position: relative;
  width: 30px;
  top: 100px;
}

.sidebarcontentarea {
  position: absolute;
//  padding: 0%;
  top: 0px;
  z-index: 2;
  /*opacity: 0.8;*/
  display: inline;
  width: 470px !important;
  height: 100% !important;
  background: rgb(246,246,239);
//  background: #ff6600;
  box-shadow: -3px 0px 10px rgba(35,20,10,0.2);
  /* Get rid of the shadow when the sidebar is collapsed */
  transition: box-shadow 0.5s ease-out;
}

#sidebutton {
  -webkit-filter: drop-shadow(-2px 2px 4px rgba(35,20,10,0.3));
  filter: url(#drop-shadow);
  transition: -webkit-filter 0.5s ease-out;
}

#sidebutton:hover {
  cursor: pointer;
}

/* Nav */
//#nav-area {
//  padding: 6px 18px;
//  height: 90px;
//  /*color: #ffffff;*/
//}

  #navheight-top {
    padding-top: 4px;
    height: 48px;
    line-height: 1em;
  }
  #navheight-bottom {
    position: relative;
    top: 0px;
    height: 24px;
    line-height: 24px;
    background: #f15c35;
  }

#topnav {
  margin-top: 5px;
  margin-bottom: 0px;
}

#rvs_logo {
  margin-right: 12px;
}

#nav-title {
  line-height: 1em;
  margin-top: 0px;
  font-size: 1.3em;
  font-weight: 100;
//  font-weight: bold;
//  color: #ff6600;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0px;
}

#navbar-bar {

  margin: 0px;
}

#navbar-buttons>ul>li {
  list-style: none;;
}

.navbar-button {
  font-size: 0.8em;
  color: rgba(255,255,255,0.7);
}

.navbar-button-right {
  padding-right: 4px;
  text-align: right;
}

.navbar-button:hover {
  color: #000000;
  cursor: pointer;
}

.navbar-button:active {
  color: #ff6600;
}

.owner-stat, #suggest-tags {
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.owner-stattitle, .owner-statscore {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.owner-stattitle {
  font-size: 0.8em;
}

.owner-statscore {
  margin-top: 4px;
  font-weight: 100;
  font-size: 1.3em;
  color: white;
}

#horiz-rule {
  margin-top: 6px;
  border-bottom: solid 1px rgba(0,0,0,0.2);
}

.suggest-tags>ul, #navbar-buttons>ul {
  -webkit-margin-before: 0em;
  -webkit-padding-start: 0px;
}

.suggest-tags>ul>li {
  list-style: none;
  display: inline-block;
  color: #ffffff;
  background: #F86900;
  padding: 0em 0.4em;
  font-size: 0.8em;
  line-height: 2em;
  margin: 0.5em;
  cursor: pointer;
}

.toBeDeleted {
  background: red !important;
}

/* End nav */

.feed-top {
  padding: 18px;
}

.feed-title {
  width: 376px;
  font-weight: bold;
  display: inline;
//  /*color: #fafafa;*/
//  font-size: 0.9em !important;
}

.feed-title>a {
  width: 95%;
  height: 1.4em;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.feed-context {
//  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.feed-content {
  max-lines: 3 !important;
    color: rgb(30,30,30);
}

.feed-text {
  /*font-size: 0.8em;*/
  margin: 0px !important;
  /*color: #fafafa;*/
}

.feed-footertext {
//  font-size: 0.9em;
}

.feed-box {
  width: 400px;
  margin: 8px 0px;
  padding: 12px;
  background: #ffffff;
  line-height: 1.4em !important;
  font-size: 0.9em !important;
  box-shadow: 0px 1px 1px rgba(35,20,10,0.2);
  //  border: solid 1px rgb(220,220,220);
//  border-radius: 2px;
  /*color: #fafafa;*/
}

#feedlink {
  color: #828282;
}

#feed-holder {
  height: 100%;
}

//.feed-content > span, .feed-text > p {
//  /*font-size: 0.8em;*/
//  margin: 0px !important;
////  font-size: 0.9em !important;
//}

.feed-titlebox {
//  color: rgb(30,30,30) !important;
}

a.feed-author {
  color: #ff6600 !important;
}

#feedbuttondiv {
  z-index: 3;
  position: absolute;
  top: -4px;
  margin: 0% 32%;
}

#feedbuttontext {
  position: relative;
  padding: 0px;
  margin: 0px;
  line-height: 0.5em;
  top: 1em;
}

#feedbutton {
  background: rgb(246,246,239);
  padding-top: 0px;
  height: 2em;
  font-size: 0.8em;
  color: rgb(170,170,155);
  margin-bottom: 4px;
}
.hide {
  visibility: hidden;
  transition: visibility 2.0s ease-in;
}

.absposition {
  position: absolute;
  top: 90px;
  padding: 0px 18px;
}

.Newsfeed>#visible>#noti {
  visibility: hidden;
}

.Newsfeed>#visible>#conn {
  visibility: hidden;
}

.Bookmarks>#visible>#news {
  visibility: hidden;
}

.Bookmarks>#visible>#conn {
  visibility: hidden;
}

.Connections>#visible>#noti {
  visibility: hidden;
}

.Connections>#visible>#news {
  visibility: hidden;
}

.Newsfeed>#visible>#news {
  visibility: visible;
}

.Bookmarks>#visible>#noti {
  visibility: visible;
}

.Connections>#visible>#conn {
  visibility: visible;
}

#news {
  height: 100%;
  overflow-y: scroll;
}

#connectionsubhead {
  font-size: 1em;
}

.connectionhead {
  margin-top: 2em;
  font-size: 1em !important;
}

.form-control {
  font-family: sans-serif;
}

.add-plus-button {
  cursor: pointer;
  font-weight: bold;
  color: #ff6600;
}

#NewsfeedActive>#nf {
  color: rgba(255,255,255,1.0);
  pointer-events: none;
  background: rgba(0,0,0,0.15);
  border-bottom: solid 3px #000000 !important;
}

  #ConnectionsActive>#co {
    color: rgba(255,255,255,1.0);
    pointer-events: none;
    background: rgba(0,0,0,0.15);
    border-bottom: solid 3px #000000 !important;
  }

  #BookmarksActive>#bm {
    color: rgba(255,255,255,1.0);
    pointer-events: none;
    background: rgba(0,0,0,0.15);
    border-bottom: solid 3px #000000 !important;
  }

  #connedit {
    float: right;
  }

#twitter {
  height: 100%;
  padding-top: 4px;
}

#disablehover:hover {
  background: transparent;
}
